.featuresBaseContainer {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.featuresBaseContainer:nth-child(1) {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
}

.featuresGridBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    padding: 10px 20px;
    margin-top: 10%;
    box-sizing: border-box;
    gap: 30px;
    justify-content: center;
}

.featuresGridBox>div {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    box-sizing: border-box;
    padding: 45px;
    border-radius: 5px;
    text-align: center;
}

.featuresGridBox>div>h1 {
    color: #fc9f13;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.featuresGridBox>div>img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Special margin-top for devices below 700px width */
@media (max-width: 700px) {
    .featuresGridBox {
        margin-top: 20%; 
    }
    .featuresGridBox>div{
        width: 360px;
        justify-self: center;
    }
    .dropdownMenu {
        position: fixed; 
        top: 0;
        left: 0;
        background-color: white;
        height: 110dvh; 
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        z-index: 9999; 
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .dropdownMenu>:nth-last-child(1){
        background-color: #fc9f13 !important;
        margin-top: 15px;
        color: white;
    }
    
}
