 *{
    border-radius: 15px;
    
 }
 
 .aboutBaseContainer {
     display: flex;
     flex-direction: column;
     align-content: center;
     justify-content: center;
 }
.aboutBaseContainer>:nth-child(1)>div{
    display: flex; 
    position: -webkit-sticky;
    background-color: white;
}
 .aboutBaseContainer>:nth-child(2) {
     margin-top: 5%;
     display: flex;
     box-sizing: border-box;
     padding: 20px;
     justify-content: space-around;
     
    position: static;
 }
 .aboutBaseContainer>:nth-child(2)>div{
    width: 40%;
    align-items: center;
    justify-content: center;
    height: 500px;
 }
 .aboutBaseContainer>:nth-child(2)>img{
    border-radius: 5px; 
    height: 700px;
    width: 700px;
    border-radius: 0px;
 }
 .aboutBaseContainer>:nth-child(2)>div>h1{
    font-size: 50px;
    color: #fc9f13;
    font-weight: 700;
    justify-self: center;
    margin-bottom: 50px;
 }
 .aboutBaseContainer>:nth-child(2)>div>ul{
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

 .aboutBaseContainer>:nth-child(3)>div{
    display: flex;
    position: static;
 }

.aboutBaseContainer>:nth-child(3)>div>img{
    height: 500px;
    width: 100%;
    position: static;
    padding: 40px  0px; 
}
.aboutBaseContainer>:nth-child(3)>h1{
    display: flex;
    position: absolute;
    top: 1030px;
    left: 500px;
    font-weight: 600;
    text-decoration-line: underline;
    color: white;
    font-size: 50px;
}

.aboutBaseContainer>:nth-child(4){
    background-color: aliceblue;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
}

.aboutBaseContainer>:nth-child(4)>div>img{
    width: 600px;
    margin-right: 60px;
}
.aboutBaseContainer>:nth-child(4)>div>div{
    width: 600px;
    height: 470px;
    align-content: center;
    justify-items: start;
    /* background-color: #fc9f13; */
}

.aboutBaseContainer>:nth-child(4)>div>div>h1{
    color: #fc9f13;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    word-spacing: 2px;
    letter-spacing:1px;
}

.aboutBaseContainer>:nth-child(4)>div>div>p{

    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    word-spacing: 2px;
    line-height: 35px;
    letter-spacing:1px;
    text-align: start;
}

.aboutBaseContainer>:nth-child(5){
    background-color: aliceblue;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
}

.aboutBaseContainer>:nth-child(5)>div>img{
    width: 600px;
    margin-right: 60px;
}
.aboutBaseContainer>:nth-child(5)>div>div{
    width: 600px;
    height: 470px;
    align-content: center;
    justify-items: start;
    /* background-color: #fc9f13; */
}

.aboutBaseContainer>:nth-child(5)>div>div>h1{
    color: #fc9f13;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    word-spacing: 2px;
    letter-spacing:1px;
}

.aboutBaseContainer>:nth-child(5)>div>div>p{

    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    word-spacing: 2px;
    line-height: 35px;
    letter-spacing:1px;
    text-align: start;
}

.aboutBaseContainer>:nth-child(6){
    background-color: aliceblue;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
}

.aboutBaseContainer>:nth-child(6)>div>img{
    width: 600px;
    margin-right: 60px;
}
.aboutBaseContainer>:nth-child(6)>div>div{
    width: 600px;
    height: 470px;
    align-content: center;
    justify-items: start;
    /* background-color: #fc9f13; */
}

.aboutBaseContainer>:nth-child(6)>div>div>h1{
    color: #fc9f13;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    word-spacing: 2px;
    letter-spacing:1px;
}

.aboutBaseContainer>:nth-child(6)>div>div>p{

    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    word-spacing: 2px;
    line-height: 35px;
    letter-spacing:1px;
    text-align: start;
}

.aboutBaseContainer>:nth-child(7){
    background-color: aliceblue;
    justify-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
}

.aboutBaseContainer>:nth-child(7)>div>img{
    width: 600px;
    margin-right: 60px;
}
.aboutBaseContainer>:nth-child(7)>div>div{
    width: 600px;
    height: 470px;
    align-content: center;
    justify-items: start;
    /* background-color: #fc9f13; */
}

.aboutBaseContainer>:nth-child(7)>div>div>h1{
    color: #fc9f13;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    word-spacing: 2px;
    letter-spacing:1px;
}

.aboutBaseContainer>:nth-child(7)>div>div>p{

    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    word-spacing: 2px;
    line-height: 35px;
    letter-spacing:1px;
    text-align: start;
}