 .aboutBaseContainer {
     width: 100%;
     /* height: 100%; */
     display: flex;
     box-sizing: border-box;
     flex-direction: column;
     align-content: center;
     justify-content: center;

     /* background-color: aqua; */
 }

 .aboutBaseContainer>div>:nth-child(1) {
     height: 60px;
     padding: 40px 10px;
    /* position: fixed; */

 }

 .aboutBaseContainer>div>:nth-child(3) {
     display: flex;
     /* height: 90vh; */
     width: 100%;
     padding: 10px 40px;
     justify-content: space-around;
     /* margin-top: 2%; */
     align-items: center;

 }

 .aboutBaseContainer>div>:nth-child(3) {
     box-sizing: border-box;

 }

 .aboutBaseContainer>div>:nth-child(3)>img {
     display: flex;
     width: 500px;
     height: 650px;
 }

 .aboutBaseContainer>div>:nth-child(3)>div {
     display: flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
     padding: 0px 20px;
 }


 .aboutBaseContainer>div>h1 {
     font-size: 32px;
     color: #fc9f13;
     font-weight: bold;
     padding: 50px;
     margin-top: 5%;
     margin-bottom: 1%;
     justify-self: center;
 }

 .aboutBaseContainer>div>:nth-child(3)>div>ul {
     display: flex;
     flex-direction: column;
     list-style-type: disc;
     padding: 20px;
     gap: 30px;
 }

 .smtBtn {
     background-color: #fc9f13;
     color: white;
     width: 200px;
     justify-self: center;
     height: 60px;
     border-radius: 35px;
     margin: 40px 0px;
 }

 /* .aboutBaseContainer>div>:nth-child(4) {} */

 .aboutBaseContainer>div>:nth-child(4)>img {
     height: 90vh;
     width: 100%;
     justify-content: center;
     padding: 40px;
     object-fit: cover;
 }

 /* Container for the image and text */
.aboutBaseContainer > div > :nth-child(4) {
    display: flex;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .aboutBaseContainer > div > :nth-child(4) > h1 {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 32px;
    font-weight: bolder;
    text-decoration-line: underline;
    color: white;
    padding: 10px 20px;  
    width: auto;
    height: auto;
    text-align: center; 
  }
  
  .aboutBaseContainer > div > :nth-child(5) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .aboutBaseContainer > div > :nth-child(5)>div>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    width: 100%;
    height: 500px; 
  }
 @media (max-width: 700px) {
     .aboutBaseContainer {
         width: 100%;
         height: 100%;
         display: flex;
         box-sizing: border-box;
         flex-direction: column;
         align-content: center;
         justify-content: center;
         /* background-color: aqua; */
     }

     .aboutBaseContainer>div> {
         padding: 0px;

     }

     .aboutBaseContainer>div>:nth-child(3) {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         padding: 20px;
     }

     .aboutBaseContainer>div>h1 {
         font-size: 32px;
         color: #fc9f13;
         font-weight: bold;
         padding: 20px;
         justify-self: center;
         margin-top: 18%;
     }

     .aboutBaseContainer>div>:nth-child(3)>img {
         display: flex;
         width: 500px;
         height: 400px;
     }

     .aboutBaseContainer>div>div>div>ul {
         display: flex;
         flex-direction: column;
         list-style-type: disc;
         padding: 20px;
         gap: 30px;
     }

 }