/* General navbar styling */
.navBarBaseContainer {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    align-items: center; 
    justify-content: space-between;
    padding: 15px 40px;
}

.navBarBaseContainer > img {
    width: 200px;
    height: 50px;
    display: block;
}

/* Navbar actions */
.actions {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.actions > button {
    background-color: #fc9f13;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.actions > p {
    padding: 10px;
    letter-spacing: 1px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.actions > p:hover {
    cursor: pointer;
    background-color: rgb(199, 255, 171);
    color: black;
    letter-spacing: 2px;
    border-radius: 5px;
}

/* Mobile menu */
.mobileMenuButton {
    display: none;
}

.dropdownMenu {
    display: none;
}
 
@media (max-width: 768px) {
    .navBarBaseContainer {
        justify-content: space-between;
        padding: 10px 10px;
    }

    .actions {
        display: none;  
    }

    .mobileMenuButton {
        display: inline-block;
        cursor: pointer;
        justify-self: end;
        width: 30px;
        height: 30px;
        margin-right: 5cqw;
    }

    
}
